@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700&display=swap');
body {
  font-family: IBM Plex Sans;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #24456e;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
}

.container {
  width: 900px;
  margin: 0 auto;
}












body {
  overflow: hidden;
  margin: 0;
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#graph {
  flex: 1;
}
