html,
body,
#root,
#main {
  min-height: 100%;
}

body {
  font-family: Arco Perpetuo Pro;
  color: #212121;
}

div.dc-chart {
  float: none;
}

#minerPie,
#blockHeightPie,
#weirdTimeBar {
  margin: 26px 0;
  text-align: center;
}

.dc-chart .selected path,
.dc-chart .selected circle {
  stroke-width: 0;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  margin-top: -9px;
  overflow: hidden;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip table tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d3-tip td:first-child {
  font-weight: bold;
  padding-right: 25px;
}

.react-datepicker-wrapper {
  width: 100%;
}
