html,
body,
#root,
#root > div,
#main {
  height: 100%;
}

body {
  font-family: Arco Perpetuo Pro;
  color: #212121;
}

div.dc-chart {
  float: none;
}

#minerPie,
#blockHeightPie,
#orphanPie,
#weirdTimeBar {
  margin: 26px 0;
  text-align: center;
}

.dc-chart .selected path,
.dc-chart .selected circle {
  stroke-width: 0;
}

/* Tooltip */

.d3-tip {
  background: #212121;
  color: #e7e7e7;
  margin-top: -9px;
  overflow: hidden;
  font-family: Arco Perpetuo Pro;
  font-size: 12px;
  line-height: 16px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip table tr td {
  word-break: break-all;
}

.d3-tip table tr:first-child {
  background-color: black;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.d3-tip table tr:first-child td {
  padding: 8px 16px;
}

.d3-tip table tr:nth-child(2) td {
  padding-top: 8px;
}

.d3-tip table tr:last-child td {
  padding-bottom: 16px;
}

.d3-tip td:first-child {
  padding: 4px 8px 4px 16px;
  font-weight: 600;
  max-width: 116px;
}

.d3-tip td:last-child {
  padding: 4px 16px 4px 8px;
  max-width: 156px;
}

/* Datepicker */

.react-datepicker-wrapper {
  width: 100%;
}
